doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/js/vendor/jquery.1.8.1.min.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/vendor/mousetrap.min.js')
    script(type='text/javascript', src='/js/vendor/broadway/sylvester.js')
    script(type='text/javascript', src='/js/vendor/broadway/glUtils.js')
    script(type='text/javascript', src='/js/vendor/broadway/util.js')
    script(type='text/javascript', src='/js/vendor/broadway/avc-codec.js')
    script(type='text/javascript', src='/js/vendor/broadway/avc.js')
    script(type='text/javascript', src='/js/vendor/broadway/canvas.js')
    // script(src='/socket.io/socket.io.js')
    script(src='/js/vendor/nodecopter-stream.js')
    script(src='/js/controls.js')
    script(src='/js/script.js')